<body>
    
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4169E1">

<span class="navbar-brand">LOGO</span>
        
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
        
<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
        <a class="nav-link">DASHBOARD</a>
        </li>

        <li class="nav-item">
        <a class="nav-link">PRODUTOS</a>
        </li>

    </ul>

    <label class="navbar-brand1"><img src="../../assets/imagens/user.png"></label>
    <a routerLink="" class="navbar-brand">SAIR</a>
    
</div>
</nav>
    
<h3>Lista de Cervejas</h3>

<button routerLink="/add-beer" type="submit" class="btn btn-primary">NOVA CERVEJA</button>


<ul class="list-group-item">
    <img class="image-item" src="../../assets/imagens/bierbaum_lager.png"/>
    <div class="list-group">
        <div class="tipo">Bierbaum Lager Pielsen</div>
        <div class="tipo1">R$11,10</div>
        <div class="tipo2">Lager</div>
        <div class="list-content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dicta id quod architecto quibusdam quis vero ex? Excepturi reiciendis expedita dicta, sequi ab incidunt est tempora magni temporibus, natus dolor?</p>
        </div>
    </div>
    <button class="btn btn-secundary">FAZER NOVA SIMULAÇÃO</button>
    <button class="button-pencil"><img src="../../assets/imagens/pencil-blue.png"></button>
    <button class="button"><img src="../../assets/imagens/trash.png"></button>
</ul>

<ul class="list-group-item">
    <img class="image-item" src="../../assets/imagens/bierbaum_lager.png">
    <div class="list-group">
        <div class="tipo">Bierbaum Lager Pielsen</div>
        <div class="tipo1">R$11,10</div>
        <div class="tipo2">Lager</div>
        <div class="list-content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dicta id quod architecto quibusdam quis vero ex? Excepturi reiciendis expedita dicta, sequi ab incidunt est tempora magni temporibus, natus dolor?</p>
        </div>
    </div>
    <button class="btn btn-secundary">FAZER NOVA SIMULAÇÃO</button>
    <button class="button-pencil"><img src="../../assets/imagens/pencil-blue.png"></button>
    <button class="button"><img src="../../assets/imagens/trash.png"></button>
</ul>

<ul class="list-group-item">
    <img class="image-item" src="../../assets/imagens/bierbaum_lager.png">
    <div class="list-group">
        <div class="tipo">Bierbaum Lager Pielsen</div>
        <div class="tipo1">R$11,10</div>
        <div class="tipo2">Lager</div>
        <div class="list-content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dicta id quod architecto quibusdam quis vero ex? Excepturi reiciendis expedita dicta, sequi ab incidunt est tempora magni temporibus, natus dolor?</p>
        </div>
    </div>
    <button class="btn btn-secundary">FAZER NOVA SIMULAÇÃO</button>
    
    <button class="button-pencil"><img src="../../assets/imagens/pencil-blue.png"></button>
    
    <button class="button"><img src="../../assets/imagens/trash.png"></button>
</ul>
</body>
